<!DOCTYPE html>

<head>
        <link rel="stylesheet" href="/css/style.css">
        <title>About</title>
</head>

<body>

    <div class="main-content">
    <h1>{{>header}}</h1>
    <p>{{information}}</p>
    <img src="https://i.kym-cdn.com/photos/images/original/001/373/680/099.jpg">
    </div>
    {{>footer}}
<script src="/front-end.js"></script>  
</body>

</html>